<div class="card">
    <div class="card-body">
        <h3 class="card-title">@Task.Index</h3>
        <ul class="list-group list-group-flush">
            @foreach (var item in Task.Items.OrderBy(x => x.Order).ToArray())
            {
                <li class="list-group-item"><TaskItemCard TaskItem="item"></TaskItemCard></li>
            }
        </ul>
        <h5 style="margin-top: 10px;">TODO</h5>
        <ul class="list-group list-group-flush">
            @foreach (var item in Task.Items.OrderBy(x => x.Order).ToArray())
            {
                <li class="list-group-item"><TaskItemCard TaskItem="item"></TaskItemCard></li>
            }
        </ul>
    </div>
</div>

@code {
    [Parameter]
    public TaskObject Task { get; set; }
}
