<div class="card">
    <div class="card-body">
        <h3 class="card-title">
            <EditText Text="@Task.Index" OnChanged="TaskIndexChanged"></EditText>
        </h3>
        <ul class="list-group list-group-flush">
            @foreach (var item in Task.Items.Where(x => x.Completed).OrderBy(x => x.Order).ToArray())
            {
                <li class="list-group-item">
                    <TaskItemCard TaskItem="item"></TaskItemCard>
                </li>
            }
        </ul>
        <h5 style="margin-top: 10px;">TODO</h5>
        <ul class="list-group list-group-flush">
            @foreach (var item in Task.Items.Where(x => !x.Completed).OrderBy(x => x.Order).ToArray())
            {
                <li class="list-group-item">
                    <TaskItemCard TaskItem="item"></TaskItemCard>
                </li>
            }
        </ul>
    </div>
</div>

@code {
    [Parameter]
    [EditorRequired]
    public TaskObject Task { get; set; }

    [Parameter]
    public EventCallback TaskChanged { get; set; }

    private async Task TaskIndexChanged(string val)
    {
        Task.Index = val;

        await TaskChanged.InvokeAsync();
    }
}