@page "/"

@using AKucher.Tasks.Module.BusinessObjects
@using DevExpress.Xpo

<PageTitle>Tasks</PageTitle>

@if (Tasks is not null)
{
    @foreach (var task in Tasks)
    {
        <span>@task.Index</span>
        <br />
    }
}

@code {
    List<TaskObject> Tasks { get; set; }

    protected override void OnInitialized()
    {
        Tasks = new List<TaskObject>();
        using (var uow = new UnitOfWork())
        {
            Tasks = uow.Query<TaskObject>().OrderBy(x => x.Order).ToList();
        }

        base.OnInitialized();
    }
}